@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Iceland&family=TASA+Explorer:wght@400..800&display=swap');

body {
    user-select: none;
    color: #FFFFFF;
    background-color: #052e16;
    padding-left: 150px;
    padding-right: 150px;
    font-family: "Iceland", sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 24px;
    padding-left: 30px;
    border-bottom: 3px solid #ffffff5A;

    .back {
        width: 40px;
        margin-right: 40px;

        img {
            filter: invert(100%);
            cursor: pointer;
        }
    }

    .brand {
        display: flex;
        align-items: center;

        img {
            width: 50px;
        }

        h1 {
            margin: 0;
            padding: 0;
            margin-left: 20px;
        }
    }
}

.body {
    user-select: text;
    font-family: "TASA Explorer", sans-serif;
    padding: 50px;

    .heading {
        font-size: 40px;
        font-weight: 600;
        padding-bottom: 5px;
        border-bottom: 1px solid #ffffff5A;
        user-select: none;
    }

    .anchor {
        color: #ABCDEF;
        display: inline-block;
        padding-left: 15px;
    }

    .anchor:hover {
        color: #DABB21;
        transform: scale(1.01);
        transition: transform 0.2s ease;
    }

    .index-list {
        width: 400px;
        margin-left: 30px;
        padding: 5px;
        border-radius: 30px;
        background-color: #FFFFFF1A;

        ul {
            list-style-type: circle;

            li {
                margin-bottom: 10px;
            }
        }
    }

    .internal-anchor {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 20px;
        display: inline-block;
        transform-origin: left center;
    }

    .internal-anchor:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease;
    }

    .image {
        user-select: none;
    }

    .image.setup {
        width: 700px;
        border-radius: 10px;
    }

    .code-block {
        background-color: #15141f;
        padding: 30px;
        margin: 30px;
        border-radius: 10px;
        font-size: 15px;
        font-family: "Google Sans Code", monospace;
    }

    .keyword {
        color: #dc4b00;
    }

    .name {
        color: cornflowerblue;
    }

    .built-in {
        color: #FFFFFFA1;
        font-style: italic;
    }

    .string {
        color: #0a991a;
    }

    .datatype {
        color: #ABCDEF;
    }

    .error {
        color: #fe2f1c;
    }

    inline-code {
        background-color: #15141fEA;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
    }
}

divider{
    display: block;
    border-bottom: 3px solid #FFFFFF5A;
}